.game_container{
    border: 1px solid black;
    background: purple;
    height: 650px;
    width: 430px;
    border-bottom-right-radius: 20px;
    margin: auto;
    margin-top: 10px;
}

#canvas{
    border: 1px solid black;
    display: block;
    margin: auto;
    margin-top: 10px;
    background: rgba(166, 255, 0, .9);
}

.act_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: auto;
    margin-top: 10px;
}

#start{
    width: 60px;
    height: 60px;
    padding: 10px;
    background: black;
    border-radius: 50%;
    color: white;
    border: none;
}

.light{
    width: 20px;
    height: 20px;
    border: black solid 3px;
    background: gray;
    border-radius: 50%;
}

.light_red{
    background: red;
}